body {
	font-family: 'Noto Sans TC', sans-serif;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: lowercase;
	line-height: 55px;
}

.text-primary {
	text-transform: capitalize;
	font-size: 85%;
}

.bg-primary {
    background-color: #49ade3!important;
    background-image: url("https://sleepsheepp.github.io//assets/img/food.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.text-primary {
	color: #49ade3!important;
}

a {
	color: #49ade3;
}


.subheading.mb-3 {
	text-transform: capitalize;
}

#education>p {
	line-height: 55px;
}



