body {
	font-family: 'Noto Sans TC', sans-serif;
	<span class="text-transform: capitalize;">CHOU TZU-YING</span>
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: lowercase;
}









